#section{
    width: 350px;
    height: auto;
    top: 0px;
}

#resultado{
    display: flex;
    flex-direction: row;
}

input{
    font-size: large;
    background:none;
    border-radius: 10px;
    font-family: inherit;
}

input:hover{
    background-color: rgba(255, 255, 255, 0.2);
}